body {
  margin: 0;
}

.leaflet-container {
  margin-top: 0px;
  width: 100%;
  height: 90vh;
}
.loading {
  z-index: 1000;
  background-color: #c0c0c0;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  border-radius: 10px;
}
